{% extends "templates/secured/secured.html" %}

{% block title %}Secured{% endblock %}

{% block content %}
{{ parent() }}
<h1>Hello, {{ officialName }}({{ name }})!</h1><br>

<table class="table table-bordered table-hover">
    <thead></thead>
    <tbody>
    <tr>
        <th>#</th>
        <th>Authority</th>
    </tr>
    {% for authority in authorityList %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ authority }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}