<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}No title{% endblock %}</title>
    <meta charset="UTF-8">
    {% block meta %}
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{{ contextPath }}/resources/css/bootstrap.dark.min.css">
    {% endblock %}
</head>
<body class="container-fluid">
{% block content %}Base.html{% endblock %}
</body>
{% block scripts %}
<script src="{{ contextPath }}/resources/js/jquery-3.1.1.min.js"></script>
<script src="{{ contextPath }}/resources/js/bootstrap.min.js"></script>
{% endblock %}
</html>